/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.button{
	height: 2.5em;
	text-transform: uppercase;
	opacity: 0.8;
	border: none;
	@media screen and (min-width: $break-sm){
		.button{
			width: 9.375em;
		}
	}
}

.button--light{
	background-color: $light-button-bkgd-color;
	color: $light-button-text-color;
}

.button--dark{
	background-color: $dark-button-bkgd-color;
	color: $dark-button-text-color;
} 

.button--highlighted{
	margin: 1.5em auto;
	background-color: $highlighted-button-color;
}
