/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

.button{
	text-decoration: none;
	height: 3.5em;
	line-height: 3.5em;
	text-align: center;
	font-size: 0.7175rem;
	font-family: $button-font-style, sans-serif;
	text-transform: uppercase;
	@media screen and (min-width: $break-sm){
		.button{
			width: 9.375em;
		}
	}
}

.button--light{
	background-color: $light-button-bkgd-color;
	color: $light-button-text-color;
	border: 1px solid $light-button-border-color;
}

.button--dark{
	background-color: $dark-button-bkgd-color;
	color: $dark-button-text-color;
} 

.button--highlighted{
	margin: 1.5em auto;
	background-color: $highlighted-button-color;
}