/**
* @name			Link
* @requires     _vars.scss
*/

.link{
	color: $link-color;
	text-decoration: none;
	&:hover{
		color: black;
	}
}

.text__link{
	color: $text-link-color;
	&:hover{
		color: $text-link-color-hover;
	}
}