
/**
* @name 		Media    
* @requires     _layout.scss
*/

.media{
	@include container;
	display: block;
	height: auto;
}

/* :: FACE ------------ */

.face{
	padding-left: 2em;
	padding-top: 1em;
	max-width: 9.0625em; 
}

