
/**
* @name 		Media    
* @requires     _layout.scss
*/

.media{
	@include container;
	display: block;
	height: auto;
}

/* :: FACE ------------ */

.face{
	position: relative;
	left: em(33px);
	width: em(185px);
	margin-top: em(40px);
}

.ingredients__single{
	border-radius: 50%;
	width: 5em;
	height: 5em;
	border: 2px solid #3d3633;
}

.single__bread{
	background: url("../img/ingredients/ingredients__bread.jpg") no-repeat center center;
}

.single__wheat{
	background: url("../img/ingredients/ingredients__wheat.jpg") no-repeat center center;
}

.single__paprika{
	background: url("../img/ingredients/ingredients__paprika.jpg") no-repeat center center;
}

.separator{
	margin-bottom: em(25px);
}

