/**
* @name			Quote
*/

.quote__footer{
	margin-top: 1em;
	margin-bottom: em(80px);
	text-align: center;
	color: $quote-color;
}

.quote__source{
	font-family: $text-font-style;
	font-style: normal;
}

