/**
* @name 		Title
* @requires     _vars.scss
*/

.title, 
.subtitle{
 	text-align: center;
	letter-spacing: $normal-letter-spacing;
	color: $title-color;
}

.title--light{
	color: $light-title-color;
}

.title--highlighted{
	@media screen and (min-width: $break-main-section){
		color: $highlighted-title-color;
	}
}


/* :: SECTION ------------ */

.section__title{
	margin-bottom: 3.125em;
}

