/* -----------------------------------------------
  :: CONTACT
  --------------------------------------------- */

 /* ------------
  :: Mobile
  ---------- */

.contact__wrapper{
	background: url("../img/contact/contact__dish.png") no-repeat center center;
	background-size: 421px 425px;
	height: inherit;
	width: 100%;	
}

.contact__title{
	color: #cc9900;
}

.contact__content{
	position: relative;
	max-width: 360px;
	color: #585858;
}

.contact__description{
	max-width: 525px;
}

.info__hours{
	float:left;
}

.info__locations{
	float: right;
}

.contact__info{
	width: 100%;
}

.contact__info::after{
	content: "";
	display: block;
	clear: both;
}

.info__title{
	font-size: 1.2em;
	margin-bottom: 0;
}

.info__description{
	font-size: 0.9em;	
}

.contact__call{
	margin: 1.5em auto;
	background-color: #c9a131;
}

.address__link{
	color: #e7bd49;
}


/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 700px){

	.module__contact{
		display: none;
	}
}