/**
* @name         Layout    
* @requires     Susy
*/

// :: GRID ------------  

@import "../../../bower_components/susy/sass/susy";

$susy: (
	columns: 12,
	global-box-sizing: border-box,
	gutter-position: split
);

@include layout(12);
@include border-box-sizing;

/* :: SECTIONS ------------ */

.section{
	padding: 4em 0;
	position: relative;
	@include container($main-layout);
}

.section__wrapper{
	position: relative;
	background-position: center center;
 	background-repeat: no-repeat;
 	background-size: cover;
}

.overlay{
    background-color: rgba(0,0,0,0.5);
    @media screen and (min-width: $break-main-section){
		background-color: rgba(0,0,0,0); 	
	}
}

/* :: ABOUT ------------ */

.dish__wrapper{ 
	
	background-image: url("../img/about/about__dish-221-sm.png");
	background-size: 20em;

	@media screen and (min-width: $break-main-section){
		background-size: 30em;
		background-image: url("../img/about/about__dish-421-med.png");
	}

	@media screen and (min-width: $break-about-section){
		@include container(62.375em);
		background-image: url("../img/about/about__dish.png");
		background-size: 33.3125em 33.5625em;
		background-position: right center;
	}
}

.arc__pattern__wrapper{
	background-image: url("../img/arc__pattern.png"); 
}

.about__content{
	@media screen and (min-width: $break-about-section){
		@include span(6);
	}
}

.about__overlay{
	background-color: rgba(0,0,0,0.5);
	@media screen and (min-width: $break-about-section){
		background-color: rgba(0,0,0,0); 	
	}
}

.about__section{
	@media screen and (min-width: $break-about-section){
		max-width: 100%;
		padding-bottom: em(90px);
	}
}

/* :: INGREDIENT ------------ */

.ingredient__section{
	padding: 5em 0;
}

.ingredient__wrapper{
	background-image: url("../img/ingredients/ingredients__bg-480-sm.jpg");
	@media screen and (min-width: $break-med){
		background-image: url('../img/ingredients/ingredients__bg-700-med.jpg');
	}
	@media screen and (min-width: $break-lrg){ 
		background-image: url('../img/ingredients/ingredients__bg.jpg');
	} 
}

.ingredients__content{
	@media screen and (min-width: $break-main-section){
		@include span(6 last);
		width: 30em;
		background-color: rgba(0, 0, 0, 0.5);
		padding-top: calc(1em + 29.08px); 
		padding-bottom: em(65px);
		padding-left: em(65px);
		padding-right: em(65px);
	}
}

/* :: MENU ------------ */

.hex__pattern__wrapper{
	background-image: url("../img/hex__pattern.png");
}


/* :: REVIEWS ------------ */

.review__wrapper{
	background-image: url("../img/reviews/reviews__dish-480-sm.jpg");
	background-position: top right;
	@media screen and (min-width: $break-med){
		background-image: url("../img/reviews/reviews__dish-700-med.jpg");
	}
	@media screen and (min-width: $break-lrg){ 
		background-image: url("../img/reviews/reviews__dish.jpg");
	} 
}

.review__content{
	@media screen and (min-width: $break-main-section){
		@include container(em(615px));
		background-color: rgba(0, 0, 0, 0.8);
		padding: 1em;
	}
}

