/**
* @name         Variables
*/

// :: COLORS ------------ //

// Colors - Source: http://chir.ag/projects/name-that-color/
$buddha-gold: #CC9900;
$selective-yellow: #F1B400;
$pot-pourri: #F1E2D6;
$dusty-gray: #999999;
$teal-blue: #02394E;
$dove-gray: #666666;
$gray-chateau: #A0A5A8;
$ziggurat: #B8D5DB;
$horizon: #588A9E;
$cornflower: #82C8E4;
$astral: #3779A0;
$buddha-gold: #CC9900;
$iron: #DDE0DF;
$white-haze: #f2f3f3;
$white: #FFFFFF;
$black: #111111;
$teal-blue: #02394E;


// General
$brand-color: $ziggurat;
$body-bg-color: $white-haze;
$font-default-color: $black;

// Nav
$nav-stack-color: $buddha-gold;

// Social
$social-icon-color: $buddha-gold;

// Bars
$bar-color: $buddha-gold;

// Links
$link-color: $white-haze; 
$text-link-color: $horizon;
$nav-link-color: $white-haze;
$nav-link-color-hover: $selective-yellow;

// Form
$form-submit-hover: $selective-yellow;

// Buttons
$light-button-bkgd-color: rgba(255, 255 , 255, 0.2);
$light-button-hover-color: rgba(255, 255 , 255, 0.6);
$light-button-border-color: rgba(255, 255 , 255, 0.4);
$light-button-text-color: $white-haze;
$dark-button-text-color: $white-haze;
$dark-button-bkgd-color: rgba(0, 0 , 0, 0.7);
$dark-button-hover-color: rgba(0, 0 , 0, 1);

// Titles
$title-color: $black;
$light-title-color: $white-haze;
$highlighted-title-color: $buddha-gold;

// Text
$highlighted-text-color: $buddha-gold;
$desc-color: $black;
$light-desc-color: $iron;
$header-text-color: $white-haze;

// Quote
$quote-color: $white-haze;

// Sections
$section-bkg-color: $brand-color;

// Button
$highlighted-button-color: $buddha-gold;

// Footer
$footer-bkgd-color: $black;
$call-button-hover-color: $selective-yellow;

// Address
$dark-address-link-color: $black;
$light-address-link-color: $white;

// :: TYPOGRAPHY ------------ //

// Font style
$body-font-style: "Yeseva One";
$menu-font-style: "Gentium Book Basic";
$nav-font-style: "Gentium Book Basic";
$review-font-style: "Gentium Book Basic";
$reservation-title-style: "Yeseva One";
$text-font-style: "Lato";
$button-font-style: "Lato";


// Font sizes
$gigantic-font: 6.875rem;
$huge-font: 4.250rem;
$larger-font: 3.625rem;
$large-font: 2.625rem; 
$biggest-font: 2rem;
$bigger-font: 1.6rem;
$big-font: 1.4rem;
$medium-big-font: 1.2rem;
$medium-font: 1rem;
$small-font: 0.938rem;
$smaller-font: 0.9rem;
$tiny-font: 0.8rem;

// Line height
$tall-line-height: 1.38;
$normal-line-height:  1.2;
$short-line-height: 1.14;
$lil-line-height: 1.09;
$tiny-line-height: 1.05;

// Letter spacing
$normal-letter-spacing: 0.05rem;
$narrow-letter-spacing: -0.1252rem;
$skinny-letter-spacing: -0.063rem;

// Font weights
$lightest: 100;
$lighter: 200;
$light: 300;
$regular: 400;
$bold: 600;
$boldest: 700;

// :: LAYOUT ------------ //

// General
$main-layout: 80%;
$medium-layout: 85%;
$wide-layout: 90%;
$full-layout: 100%;

// Specific
$header-layout-width: 21.875rem;
$ingredient-layout-width: 18rem;

// :: BREAKPOINTS ------------ //

// General
$break-sm: 480px;
$break-med: 640px;
$break-lrg: 960px; 

// Specific
$break-main-section: 700px; 
$break-about-section: 900px;
$break-menu-section: 900px;
$break-header-section: 1070px;