/* -----------------------------------------------
  :: ABOUT
  --------------------------------------------- */

.module__about{
	background: url("../img/about/about__dish.png") no-repeat center center;
	background-size: 421px 425px;

}

.about__content{
	position: relative;
}

.about__showcase{
	display: block;
  	position: absolute;
  	top: 0;
  	z-index: -1;
}

.about__hero{
	display: block;
  	margin: 0 auto;
  	padding-left: 59px;
  	padding-top: 28px;
}