/* ------------------------------------------
:: RESERVATION
--------------------------------------------- */

/* -------
:: Mobile
---------- */

.banner{
	display: none;
}

.reservation__title{
	width: 100%;
}

.module__reservation{
	height: 660px;
}

.reservation__content{
	max-width: 500px;
}

.reservation__form{
	margin: 1.5em auto 0 auto;
}

.form__field{
	margin-top: 0.7em;
}

.field__label{
	display: block;
	text-align: left;
	color: #c9a131;
}

.field__input{
	box-sizing: border-box;
	width: 100%;
	padding: 0.8em;
	border: 1px solid #c8c6c6;
}

.form__submit-button{
	width: 100%;
}

/* -------
:: Desktop
---------- */

@media screen and (min-width: 1000px){

.banner{
	display: block;
	float: left;
	margin-top: 5em;
	width: 366px;
	height: 325px;
}

.banner--left{
	float: left;
}

.banner--right{
	float: right;
}

.reservation__wrapper{
	float: right;
	margin-top: 5em;
	width: 366px;
	height: 325px; 
}

.reservation__content{
	max-width: 795px;
}

.reservation__content:after{
	content: "";
	clear: both;
}

.reservation__title{
	padding-top: 0px;
}

.form__field{
	width: 45%;
}

.field__input{
	padding: 0.3em;
}

.form__field:nth-of-type(2n+1){
	float: left;
}

.form__field:nth-of-type(2n+2){
	float: right;
}

.reservation__button{
	width: 150px;
	text-transform: none;
}


}