/* -----------------------------------------------
  :: REVIEWS
  --------------------------------------------- */

/* ------------
  :: Mobile
  ---------- */

.module__reviews{
	height: 528px;
}

.reviews__wrapper{
	position: relative;
	background: url("../img/reviews/reviews__dish.jpg") no-repeat top right;
	background-size: cover;
	height: inherit;
	width: 100%;	
}

.reviews__content{
	position: relative;
}

.reviews__description{
	max-width: 525px;
}

.quote__footer{
	margin-top: 1em;
}

.quote__source{
	font-style: normal;
}

@media screen and (min-width: 253px){
	
	.module__reviews{
		height: 428px;
	}
}

/* -----------
  :: Desktop
  ---------- */

@media screen and (min-width: 700px){

	.module__reviews{
		height: 500px;
	}

	.reviews__overlay{
		display: none;
	}

	.reviews__content{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 490px; 
		height: 355px;
		margin: auto;
		background-color: black;
		background-color: rgba(0,0,0,0.8);
	}

	.reviews__title{
		color: #fff;
	}

	.reviews__description{
		width: 300px;
		font-size: 0.8em;
	}

	.quote__footer{
		margin-top: 50px;
	}	

	.reviews__list{
		margin-top: 3em;
	}
}