/**
* @name 		Addresss    
* @requires     _vars.scss
*/

.address{
	text-align: center;
	font-style: normal;
}

.footer__address{
	margin: 1em;
	@media screen and (min-width: $break-main-section){
		margin-bottom: 0;
	}
}
