/**
* @name         Footer    
* @requires     _vars.scss
*/

.footer{
	
	@include container($main-layout);
	padding-bottom: 10em;
	text-align: center;
	@media screen and (min-width: $break-main-section){
		@include container($full-layout);
		padding-bottom: 0;
		background-color: $footer-bkgd-color;
		font-weight: 700;
	}
}

.footer__content{
	@media screen and (min-width: $break-main-section){
		@include container($main-layout);
		padding-bottom: em(54px);
		padding-top: em(40px);
	}
}

.footer__info{
	@include susy-clearfix;
	margin-top: 2em;
}

.info__about{
	display: none;
	@media screen and (min-width: $break-main-section){
		display: block;
	}
}

.info__blocks{
	@include span(12);
	@media screen and (min-width: $break-main-section){
		@include span(4);
	}
}

.contact__separator, .contact__title, .contact__number{
	display: block;
	@media screen and (min-width: $break-main-section){
		display: none;
	}
}

.info__separator{
	display: none;
	@media screen and (min-width: $break-main-section){
		display: block;
	}
}

.hours__time{
	display: block;
	margin: 0.5em;
	@media screen and (min-width: $break-main-section){
		margin: 0;
	}
}
