/**
* @name         Form
* @requires     _layout.scss, _vars.scss
*/

.form{
	font-family: $text-font-style;
	@media screen and (min-width:$break-med){
		@include container(30em);
	}
	@media screen and (min-width:$break-lrg){
		@include span(last 6);
	}
}

.form__submit, .form__field, .form__label{
	width: 100%;
}

.form__field, .form__details{
  	padding: em(5px);
}

.form__field{
	font-size: em(14.8px);
   	font-style: italic;
   	height: em(40px);
   	border: 1px solid $bar-color;
   	&:focus{
   		outline: none;
		border: 2px solid $form-submit-hover;
   	}
}

.field__date{
	height: em(38px);
}

input::-webkit-datetime-edit-text, /* this makes the slashes in dd/mm/yyyy grey */
input::-webkit-datetime-edit-day-field[aria-valuetext=blank],
input::-webkit-datetime-edit-month-field[aria-valuetext=blank],
input::-webkit-datetime-edit-year-field[aria-valuetext=blank] {
  	color: #AAAAAA;
}

.form__fields{
	@include susy-clearfix;
	margin: 0.8em 0;
	padding: 0;
	border: none;
	@media screen and (min-width:$break-lrg){
		@include span(6);
	}
	&:focus{
		margin-bottom: 0;
	}
}

.form__label{
	font-size: $small-font;
	color: $highlighted-title-color;
}

.form__name{
	margin-bottom: 1em;
}

.form__submit{
	float: right;
	margin: 0;
	font-size: $tiny-font;
	border: none;
	color: $white;
	&:hover{
  		background-color: $form-submit-hover;
  	}
	@media screen and (min-width:$break-lrg){
		@include container(em(160px));
	}
}